@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  background-color: #FFF8F2;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
  }
}